* {
  font-family: Helvetica;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  color: #FFFFFF;
}

a {
  text-decoration: none;
  color: #F7D354;
  transition: .5s;
}

a:hover {
  color: #B8930C;
}